@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
}

.logo:hover {
    cursor: pointer;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 100px;
    padding: 4rem 3rem;
}

nav > ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    gap: 3rem;
}

nav > ul > li > a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

a, a:visited {
    cursor: pointer;
    text-decoration: none;
}

li:hover  {
    border-bottom: solid 2px #ff7a00;
}

a:hover {
    color: inherit;
}

main {
    height: 100%;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #D5EB98;
    color: grey;
    padding: 0.3rem;
    font-size: 12px;
}

