@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');


* {
    font-family: 'Albert Sans', sans-serif;
}

.first-section {
    padding-left:100px;
    line-height: 2rem;
    font-family: 'Albert Sans', sans-serif;
    margin-bottom: 6rem;
}

.first-section-button {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
}


button {
    border-radius: 0;
    width: 150px;
    border: none;
}

.log-in {
    margin-right: 15px;
    background-color: #FFA370;
}

.log-in:hover {
    background-color: #f08c56
}

.sign-up {
    border: solid 2px black;
}

.sign-up:hover {
    background-color: black;
    color: white;
}

.second-section {
    height: 450px;
    background-image: url(https://img.freepik.com/free-vector/rural-landscape-with-green-trees-fields_107791-12820.jpg?w=1380&t=st=1667556403~exp=1667557003~hmac=7fcbc39500b974eeba465f6df275359462b2bc78254baa4e1d6fa903a2e5b2b2);
    background-size: cover;
    margin-bottom: 6rem;
}

.first-row-third-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin: 0 auto;
    padding: 6rem;
}

.text-content {
    width: 600px;
    font-size: 18px;
}

.photo > img{
    width: 400px;
}
