{%extends "base.html"%} {%block style%}
<link rel="stylesheet" href="/static/base.css" />
<link rel="stylesheet" href="/static/about.css" />
{%endblock style%} {%block title%}

<title>About</title>
{%endblock title%} {%block main%}
<main>
    <section class="first-section">
        <h3>About This Website</h3>
        <div class="text-content">
            Quote Therapy exists to lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            Quote Thorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum  
    <br>
    <br>
    Quote Therapy exists to lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
    m lorem ipsum lorem ipsum lorem ipsum 
    Quote Ther to lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
    </div>
    </section>
    <section class="second-section">
        
    </section>
</main>
{%endblock main%}
