{%extends "base.html"%} {%block style%}
<link rel="stylesheet" href="/static/base.css" />
<link rel="stylesheet" href="/static/about.css" />
{%endblock style%} {%block title%}

<title>About</title>
{%endblock title%} {%block main%}
<main>
    <section class="first-section">
        <h3>About This Website</h3>
        <div class="text-content">
            Quote Therapy is a website to share and look for quotes that can help you to cheerup. But does only quote enough to cheer you up? Music has long been known to help people to heal, so each quote shared will be categorised with a different mood and each mood will have a different Lofi track for you to listen to and relax.
    <br>
    <br>
    How you feel matters and Quote Therapy exists to help you cope up with stress and negative thoughts.
    </div>
    </section>
    <section class="second-section">
        <h3>Who We Are</h3>
        <div class="blog-posts">
            <div class="blog">
                <img class="blog-image" src="https://images.unsplash.com/photo-1472653431158-6364773b2a56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="">
                <h4 class="blog-title">History of us</h4>
                <p class="blog-preview">Find out about the history of Quote Therapy and the people behind it</p>
            </div>
            <div class="blog">
                <img class="blog-image" src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
                <h4 class="blog-title">Our commitment to mental health</h4>
                <p class="blog-preview">Quote Therapy commits to combats bad quote and negative thoughts that affect your mental health</p>
            </div>
            <div class="blog">
                <img class="blog-image" src="https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="">
                <h4 class="blog-title">Access to information</h4>
                <p class="blog-preview">Find out how we can help when seeking information about Quote Therapy</p>
            </div>
        </div>
    </section>
</main>
{%endblock main%}
