<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_quote_action" method="POST">
        <label for="content"> Quote Content:
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </label>
        <label for="image"> Quote Image:
            <input type="url" name="image" id="image">
        </label>
        <label for="mood"> Quote Mood
            <select name="mood" id="mood">
                <option value="happiness">Happiness</option>
                <option value="inspirational">Inspirational</option>
                <option value="motivational">Motivational</option>
                <option value="love">Love</option>
            </select>
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>