<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/4dccacf12f.js"
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/base.css" />

    {%block style%}
    <link rel="stylesheet" href="/static/index.css" />
    {%endblock style%} {%block title%}
    <title>Quotes Therapy</title>
    {%endblock title%}
  </head>
  <body>
    <header>
      <div class="left-header">
        <div class="logo">Quotes <i class="fa-solid fa-moon"></i> Therapy</div>
        <nav>
          <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/dashboard"> Get Inspired</a></li>
            <li><a href="/about"> About</a></li>
          </ul>
        </nav>
      </div>

      {%if user_cookie['user_name'] != 'Unknown'%}
      <div class="right-header">
        <div class="user-name">{{user_cookie['user_name']}}</div>
        <div>
          <a href="/profile/{{user_cookie['user_id']}}"><img class="user-avatar" src="{{user_cookie['user_avatar']}}" alt="user-avatar" /></a>
        </div>
      </div>
      {%endif%}
    </header>

    {%block main%}
    <main></main>
    {%endblock main%}

    <footer>
      2022 © Quote Therapy. The site is made by Lizzy Truong, used for
      educational purpose in General Assembly SEI Course. The site design is
      inspired by Happify and Pinterest.
    </footer>
  </body>
</html>
