<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/static/app.js"></script>
    <title>Document</title>
</head>
<body>
    <button id="togglePlay">Toggle Play</button>

    {%for quote in all_quotes%}
    <div class="quote">
        <img src="{{quote['image_url']}}" alt="quote image">
        <p class="content">{{quote['content']}}</p>
        <audio class="{{quote['mood']}}" controls>
        </audio>
    </div>
    {%endfor%}
    {{all_quotes}}

    <script src="https://sdk.scdn.co/spotify-player.js"></script>

</body>
</html>