{%extends "base.html"%} {%block style%}
<link rel="stylesheet" href="/static/base.css" />
<link rel="stylesheet" href="/static/index.css" />
{%endblock style%} {%block title%}

<title>Quotes Therapy</title>
{%endblock title%} {%block main%}
<main>
  <section class="first-section">
    <h2>
      <span style="color: grey">Overcome negative thoughts,</span> <br />
      stress & life's challenges!
    </h2>
    <div class="first-section-button">
      <a href="/log_in"><button class="log-in">Log In</button></a>
      <a href="/sign_up"><button class="sign-up">Sign Up</button></a>
    </div>
  </section>

  <section class="second-section"></section>

  <section class="third-section">
    <div class="first-row-third-section">
      <div class="text-content">
        <h2>
          <span style="color: grey">Break negative thoughts,</span>
          <br />
          form positive vibes
        </h2>
        <p>
          How you feel matters! Whether you're feeling sad, anxious, or
          stressed, Quote Therapy brings you effective cheerups quotes &
          relaxing Lofi tracks to help you take control of your feelings and
          thoughts.
        </p>
      </div>
      <div class="photo">
        <img
          src="https://img.freepik.com/premium-vector/my-happy-place-woman-with-cup-tea-sofa_87689-6359.jpg?w=740"
          alt="" />
      </div>
    </div>
  </section>

  <section class="fourth-section">
    <div class="first-row-third-section">
      <div class="photo">
        <img
          src="https://img.freepik.com/free-vector/lettering-your-feelings-are-valid_1191-1340.jpg?w=740&t=st=1667557667~exp=1667558267~hmac=c08b8459e2afb95043f1446a4565157f492546bb0029e75afc6af4f5296b690b"
          alt="" />
      </div>
      <div class="text-content" style="text-align: right">
        <h2>
          <span style="color: grey">Simple & effective solutions</span>
          <br />
          for your mental
          <br />
          health &
          <br />
          well-being
        </h2>
        <p>
          You may find these quotes come in handy when you’re having a hard day
          and need a little extra encouragement a and motivational line! So read
          these, write some down, and refer to them often.
        </p>
      </div>
    </div>
  </section>
</main>
{%endblock main%}
