<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4dccacf12f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/index.css">
    <title>Quotes Therapy</title>
</head>
<body>
    <header>
        <div class="logo">  Quotes <i class="fa-solid fa-moon"></i> Therapy</div>
        <nav>
            <ul>
                <li><a href="/"> Home</a></li>
                <li><a href="/dashboard"> Get Inspired</a></li>
                <li><a href="/about"> About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="first-section">
            <h2> <span style="color: grey">Overcome negative thoughts,</span>  <br>
                stress & life's challenges!
            </h2>
            <div class="first-section-button">
                <button class="log-in">
                    Log In
                </button>
                <button class="sign-up">
                    Sign Up
                </button>
            </div>
        </section>
        
        <section class="second-section">
        </section>

        <section class="third-section">
            <div class="first-row-third-section">
                <div class="text-content">
                    <h2>
                        <span style="color: grey">Break negative thoughts,</span>
                        <br>
                        form positive vibes
                    </h2>
                    <p>
                        How you feel matters! Whether you're feeling sad, anxious, or stressed, Quote Therapy brings you effective cheerups quotes & relaxing Lofi tracks to help you take control of your feelings and thoughts.
                    </p>
                </div>
                <div class="photo">
                    <img src="https://img.freepik.com/premium-vector/my-happy-place-woman-with-cup-tea-sofa_87689-6359.jpg?w=740" alt="">
                </div>
            </div>
        </section>

        <section class="fourth-section">
            <div class="first-row-third-section">
                <div class="photo">
                    <img src="https://img.freepik.com/free-vector/lettering-your-feelings-are-valid_1191-1340.jpg?w=740&t=st=1667557667~exp=1667558267~hmac=c08b8459e2afb95043f1446a4565157f492546bb0029e75afc6af4f5296b690b" alt="">
                </div>
                <div class="text-content" style="text-align: right">
                    <h2>
                        <span style="color: grey">Simple & effective solutions</span>
                        <br>
                        for your mental 
                        <br>
                        health & 
                        <br>
                        well-being
                    </h2>
                    <p>
                        You may find these quotes come in handy when you’re having a hard day and need a little extra encouragement a and motivational line!  So read these, write some down, and refer to them often.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        2022 © Quote Therapy. The site is made by Lizzy Truong, used for educational purpose in General Assembly SEI Course. The site design are inspired by Happify and Pinterest.
    </footer>
</body>
</html>