{%extends "base.html"%} {%block style%}
<link rel="stylesheet" href="/static/base.css" />
<link rel="stylesheet" href="/static/profile.css" />
<link rel="stylesheet" href="/static/dashboard.css" />

{%endblock style%} {%block title%}

<title>Profile</title>
{%endblock title%} {%block main%}
<main>
  <section class="profile-section">
    <img src="{{user['avatar']}}" alt="profile-avatar" class="profile-avatar"></a>
    <div class="profile-info">
      <div class="profile-name">
          {{user['name']}}
      </div>    
      <div class="profile-email">
        {{user['email']}}
      </div>
      {%if user['description'] != None%}
      <div class="profile-description">
        {{user['description']}}
      </div>
      {%endif%}
    </div>

    </div>

  </section>
  <h3>Quotes shared</h3>
  <section class="second-section">
    {%for quote in quotes%}

    <div id="quote" class="{{quote['mood']}}">
        <img class="quote-image" src="{{quote['image_url']}}" alt="quote image" />
        <p style="font-weight: bold" class="content">{{quote['content']}}</p>
        {%if user_cookie['user_isAdmin'] == True%}
    <div class="button-controls">
      <button><a href="/edit_quote/{{quote['id']}}">Edit</a></button>
      <button><a href="/delete_quote/{{quote['id']}}">Delete</a></button>
    </div>
    {%endif%}
    </div>

    {%endfor%}
    

  </section>
</main>
{%endblock main%}
